*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "artypaBold";
    src: url("../assets/fonts/Artypa_family/Artypa-Bold.otf") format("truetype");
  }

@font-face {
    font-family: "artypaRegular";
    src: url("../assets/fonts/Artypa_family/Artypa-Regular.otf") format("truetype");
  }

@font-face {
    font-family: "artypaLight";
    src: url("../assets/fonts/Artypa_family/Artypa-Light.otf") format("truetype");
  }
  

body{
    background: #171717 !important;
    color: #fff !important;
}

.navbar{
    margin-left: 30px !important;
    margin-right: 30px !important;
    backdrop-filter: blur(5px);
}

.deco{
    margin-left: 40%;
    margin-right: 40%;
    font-family: "artypaRegular";
}

.nav-link{
    color: #fff !important;
    font-family: 'Pathway Extreme', sans-serif !important;
    font-size: large;
}

.main{
    margin-top: 100px !important;
    height: 5000px;
    border: solid 0.5px white;
    
}

.links{
    margin-right: 10px;
    background-image: linear-gradient(#ffffff, #ffffff);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size 0.3s;
}

.links:hover{
  text-decoration: none;
  background-size: 100% 1px;
}

.row{
    margin-bottom: 70px;
}

.titulo{
    font-family: 'Pathway Extreme', sans-serif !important;
}

.tec{
    margin-bottom: 50px;
}

/* slider */

@-webkit-keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  
  @keyframes scroll {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(calc(-250px * 7));
              transform: translateX(calc(-250px * 7));
    }
  }
  .slider {
    background: transparent;
    /*box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);*/
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 95%;
  }
  .slider::before, .slider::after {
    background: linear-gradient(to right, #171717 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }
  .slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  .slider::before {
    left: 0;
    top: 0;
  }
  .slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
            animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
  }
  .slider .slide {
    height: 50px;
    width: 250px;
  }
  
  .slide img{
    
  }
